@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
 
/*-------------------- CSS reset --------------------*/
html, body, div, span, a, h1, h2, h3, h4, h5, h6, p, blockquote, img, 
ol, ul, li, input, label, select, table, tbody, tfoot, thead, tr, th, 
td, footer, header, menu, nav, section, video, figure {
    margin: 0;
    padding: 0;
    font-size: 100%;
    list-style: none;
    border: 0;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(229, 23%, 23%);
    box-sizing: border-box;
}
/*-------------------- typography --------------------*/
h1 {
    margin-bottom: .65em;
}
h2 {
    margin-bottom: .3em;
}
h3 {
    font-size: .6rem;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    letter-spacing: 1px;
}
p {
    font-size: .77rem;
    color: hsl(0, 0%, 59%);
}
span {
    font-weight: 400;
    margin-left: .5em;
    color: hsl(0, 0%, 59%);
}
/*-------------------- main --------------------*/
body {
    display: flex;
    justify-content: center;
    margin-top: 9.6em;
    background: no-repeat -61.5% 118% url('../images/bg-pattern-top.svg'),
    no-repeat 150% -87% url('../images/bg-pattern-bottom.svg'), hsl(185, 75%, 39%);
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 50px 50px 10px hsla(0, 0%, 0%, 0.2);
}
/*-------------------- profile --------------------*/
.profile-photo {
    position: absolute;
    top: 4.85em;
}
.profile-photo img {
    border-radius: 50%;
    border: solid 5px white;
}
.person {
    margin-top: 2.45em;
    padding: 1.5em 1.5em 1.3em 1.5em;
    text-align: center;
}
/*-------------------- stats --------------------*/
.stats {
    display: flex;
    justify-content: space-between;
    border-top: solid .5px lightgray;
    width: 100%;
    padding: 1.6em 1.5em 1.35em 1.5em;
}
.stat {
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    align-items: center;
}
/*-------------------- media query --------------------*/

@media only screen and (max-width: 375px) {
    body {
        margin-top: 8.1em;
        background: no-repeat 123% 135% url('../images/bg-pattern-top.svg'),
    no-repeat -25% -60% url('../images/bg-pattern-bottom.svg'), hsl(185, 75%, 39%);
    }
    main {
        width: 87%;
    }
    .background-pattern {
        width: 100%;
        height: auto;
    }
}